/* Start global rules */
@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo/Cairo-ExtraLight.woff2") format("woff2"),
    url("../fonts/Cairo/Cairo-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo/Cairo-Light.woff2") format("woff2"),
    url("../fonts/Cairo/Cairo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo/Cairo-Regular.woff2") format("woff2"),
    url("../fonts/Cairo/Cairo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo";
  font-size: 18px;
  direction: rtl;
 
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}
/* Start Menu */
.close {
  display: none;
}
.nav-box{
  display: flex;
    justify-content: center;
    align-items: end;
}
.nav-box{
  display: none;
}
.nav{
  font-size: 30px;
  padding: 10px;
  background-color: #eee;
  top: 0px;
  left: -191px;
  cursor: pointer;
  margin: auto;
}
.nav:hover{
  color: white;
  background-color: #232f41;

}
/* End Menu */

@media (max-width: 1200px){
  .container{
   max-width: 100%;
  }
}



/* End global rules */


/* Start Header */


.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../Images/Path\ 3052.png);
  background-repeat: no-repeat;
  z-index: -1;
}


.contact-header {
  padding-top: 60px;
  display: flex;
  align-items: center;
  gap: 55px;
  flex-wrap: wrap;
}
.contact-header>a>img{
  max-width: 100%;
}
.contact-header .column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}


.contact-header .column-center li a {
  color: #A3ABB5;
}

.contact-header .column-center li a:hover {
  color: #00a7f6;
}


.contact-header .column-center  li:nth-of-type(1) .serv,
.contact-header .column-center li:nth-of-type(2) .show {
  position: relative;
}

.contact-header .column-center  li:nth-of-type(1) .serv::before,
.contact-header .column-center li:nth-of-type(2) .show::before {
  font-family: "Font Awesome 6 Free";
  content: "\f078";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: -20px;
}

.contact-header .column-center li:nth-of-type(1):hover .serv::before,
.contact-header .column-center li:nth-of-type(2):hover .show:before {
  top: -5px;
}
.contact-header .column-left {
  display: flex;
  gap: 20px;
}

.contact-header .column-left .whatsapp,
.contact-header .column-left .contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 30px;
  position: relative;
 }

.contact-header .column-left .contact-us {
  background-color: #232F41;
  padding: 13px 25px;
}

.contact-header .column-left .whatsapp {
  background-color: #25D366;
  padding: 0 39px;
}


.contact-header .column-left .whatsapp a::before {
  position: absolute;
  content: "";
  font-weight: 600;
  top: 29%;
  left: 77%;
  background-image: url(../Images/whatsapp-line.png);
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  padding: 1px;
}

.contact-header .column-left li:first-of-type a,
.contact-header .column-left li:nth-of-type(2) a {
  color: white;
}

@media (max-width: 1200px){
  .contact-header {
   flex-wrap: nowrap;
  }
}

  /* Start Header Screen 991px */
@media (max-width: 991px){
  .contact-header {
   justify-content: space-between;
   flex-wrap: wrap;
  }
  .nav-box{
    display: block;
  }
  .contact-header .column-center,
  .contact-header .column-left{
    display: none;
  }
 
  .close {
    padding: 10px;
    display: flex;
    justify-content: end;
    color: white;
}
.close i:hover{
  color: red;
}

 .contact-header .menu{
  overflow: auto;
  height:85% ;
  border: 1px solid gray;
  width: 85%;
  position: absolute;
  top: 130px;
  right: 0;
  background-color: #1c3651;
  border-radius: 15px;
  padding: 25px;
  display: block;
  z-index: 2;
  animation: leftMenu 0.5s ;
  }
  @keyframes leftMenu {
    0%{
     width: 0;
    }
    100%{
      width: 85%;
    }
  }
  .contact-header .menu::after{
    position: absolute;
    content: "";
    top: -33px;
    left: 15px;
    border: 20px solid;
    border-color: transparent transparent #1c3651;
  }
  .contact-header .menu li{
    padding: 15px;
    border: 1px solid transparent;
    margin-bottom: 15px;
    border-radius: 15px;
  }
  .contact-header .menu li:nth-of-type(1),
  .contact-header .menu li:nth-of-type(3),
  .contact-header .menu li:nth-of-type(5),
  .contact-header .menu-left li:nth-of-type(2)
  {
    background-color: #d5e9e9d6;
  }

  .contact-header .menu li a{
    display: flex;
    transition: .3s;
    font-size: 30px;
    color: white;
  } 
  .contact-header .menu li a:hover{
    color: #795f40;
    transform: translateX(-40px);
  }
 
  .contact-header .menu-left .whatsapp,
.contact-header .menu-left .contact-us {
display: block;
 }

 .contact-header .menu-left li:nth-of-type(1){
  background-color: transparent;
 }

}
/* End Header Screen 991px */
@media (max-width:450px) {
  .contact-header{
    gap:0
  }
  .contact-header>a>img{
    max-width: 100%;
  }
  
}

.overlay{
  display:none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  overflow: auto;
}
/*End Header*/

/* Start Design Store */
.design-store {
  padding-top: 100px;
}

.design-store .design {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 35px;
}


.design-store .design .info {
  text-align: right;
  padding-top: 140px;
}

.design-store .design .info h4 {
  font-size: 50px;
  font-weight: normal;
  color: #232f41;
  margin: 20px 0;
}

.design-store .design .info h3 {
  font-size: 50px;
  font-weight: normal;
  color: #00a7f6;
  margin: 0px 0px 40px 0
}

.design-store .design .info p {
  font-size: 19px;
  font-weight: normal;
  color: #5e646b;
  line-height: 1.6;
}

@media (max-width:1200px) {
  .design-store .design .info,
  .design-store .design .image {
    text-align: center;
  }
  .design-store .design .info{
    padding-top: 0;
    grid-column: 1/3;
  }
.design-store .design .image{
grid-column: 1/3;
} 
.design-store .design .image img {
  max-width: 100%;
} 
}

@media (max-width:768px){
  .design-store .design{
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media (max-width:450px){
  .design-store .design{
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  }
}


/* End Header Screen 450px*/

/* End Design Store */


/* Start Why need store*/
.why-need-store {
  padding-top: 50px;
}

.why-need-store .store {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 35px;
}

.why-need-store .store .info .title {
  padding-bottom: 80px;
}

.why-need-store .store .info .title h3 {
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  color: #232f41;
}


.why-need-store .store .info .needs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px 55px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
  color: #5e646b;
  text-align: right;
}

.why-need-store .store .info .needs p{
  position: relative;
}
.why-need-store .store .info .needs p::before {
  position: absolute;
  background-image: url(../Images/p.png);
  content: "";
  background-repeat: no-repeat;
  padding: 25px;
  right: -64px;
  top: 5px;
}
@media (max-width:1200px) {
  .why-need-store .store .info ,
  .why-need-store .store .image {
    text-align: center;
  }
  .why-need-store .store .info {
    grid-column: 1/3;
  }
  .why-need-store .store .info .title {
    text-align: center;
    padding-top: 30px;
   }
   .why-need-store .store .info .needs{
    margin: 0 50px 0;
   }
  .why-need-store .store .image{
    grid-row: 2;
grid-column: 1/3;
} 
.why-need-store .store .image img {
  max-width: 100%;
} 
}
@media (max-width:991px) {
  .why-need-store .store .info .needs {
  gap: 30px 100px;
  }
}
@media (max-width:768px){
  .why-need-store .store{
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .why-need-store .store .info .title h3 {
    font-size: 40px;
    }

}
@media (max-width:450px) {
  .why-need-store .store{
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  }
  .why-need-store .store .info .title{
  padding-top:20px;
  padding-bottom: 50px;
  }
  .why-need-store .store .info .title h3 {
   font-size: 30px;
   }
   .why-need-store .store .info .needs {
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
   
}
}
/* End Why need store */

/* Start Gallery Store */

.gallery-store {
  padding-top: 100px;
  position: relative;
}

.gallery-store::before {
  position: absolute;
  content: "";
  background-image: url(/Images/Path\ 279.png);
  width: 100%;
  height: 839.92px;
  top: 282px;
  left: 0;
  z-index: -1;
}


.gallery-store .title {
  text-align: center;
  padding-bottom: 50px;
  font-size: 50px;
  color: #232F41;
  font-weight: normal;
  position: relative;
}

.gallery-store .title::before {
  background-image: url(../Images/p.png);
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  top: -50px;
  right: 47%;
  padding: 25px
}

.gallery-store .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
  padding-top: 20px;
  text-align: center;
}


.gallery-store .gallery img {
  border-radius: 6px;
  max-width: 100%;
}
@media (max-width:991px) {
  .gallery-store {
    padding-top: 160px;
  }
  }
  @media (max-width:450px) {
    .gallery-store .title {
      font-size: 32px;
    }
    .gallery-store .gallery{
      grid-template-columns: repeat(1, 1fr);
    }
  }
/* End Gallery Store*/

/* Start Features */
.features .title {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  color: #232f41;
  padding-top: 60px;
}

.features .info {
  padding-top: 60px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  text-align: center;
}

.features .info i {
  background-color: #00A7F6;
  color: white;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  text-align: center;
  line-height: 115px;
  position: relative;
}

.features .info i::after {
  position: absolute;
  content: "";
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 1px solid #37517E;
  top: 0px;
  left: -10px;
}

.features .info h3 {
  font-size: 24px;
  font-weight: 500;
  color: #232f41;
  padding: 20px 0;
}

.features .info p {
  font-size: 19px;
  line-height: 1.7;
  color: #5e646b;
}
@media (max-width:991px) {
  .features .info{
    row-gap: 65px;
  }
  .features .title{
    padding-top: 115px;
    padding-bottom: 30px;
  }
  }
  @media (max-width:450px) {
    .features .info{
      grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    }
    .features .title{
      font-size: 33px;
    }
  }
 
/* End Features */
/*Start Footer */
.footer-title {
  margin: 0 auto 100px auto;
  background-color: #25D366;
  width: fit-content;
  border-radius: 28px;
  text-align: center;
  padding: 16px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

.footer {
  background-color: #243347;
 
}

.footer .container {
  padding-top: 50px;
  color: #ffffff;
}

.footer .contact {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
  gap: 40px;
  padding-bottom: 50px;
  text-align: right;
}

.footer .contact .links,
.footer .contact .contact-us {
  margin: 0 auto;
}

.footer .sub-title {
  padding-bottom: 40px;
}

.footer .footer-logo {
  padding-bottom: 18px;
}

.footer a {
  color: #ffffff;
}

.footer .contact .info p,
.footer .contact .links ul li {
  line-height: 1.6;
    width: fit-content;
}

.footer .contact .contact-us .phone a {
  position: relative;
  line-height: 1.6;
}

.footer .contact .contact-us .phone a::before {
  font-family: "Font Awesome 6 Free";
  position: absolute;
  content: "\f095";
  font-weight: 600;
  top: -10px;
  right: -30px;
}

.footer .contact .contact-us .web a {
  position: relative;
}

.footer .contact .contact-us .web a::before {
  font-family: "Font Awesome 6 Free";
  position: absolute;
  content: "\f27a";
  font-weight: 600;
  top: 0;
  right: -30px;
}


.footer .social {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.footer .social .social-media i {
  padding-left: 40px;
}
.footer .contact .links ul li a:hover,
.footer .social .social-media i:hover,
.footer .contact .contact-us a:hover {
  color: #00a7f6;
}

@media (max-width:991px){
  .footer .container{
    font-size: 25px;
  }
  .footer .contact{
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    text-align: center;
  }

  .footer .sub-title {
    padding-bottom: 12px;
    padding-top: 40px;
    font-size: 40px;
}
.footer .social {
  padding-top: 30px;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
}
.footer .contact .links ul li{
  width: auto;
}
.footer .contact .links li,
.footer .contact .contact-us p{
  transition: 0.7s;
}
.footer .contact .links li:hover,
.footer .contact .contact-us p:hover{
  transform: translateX(-10px);
}
.footer .social-media{
  padding-bottom: 60px;
}
.footer .social .social-media i{
  transition: 0.7s;
  padding-left: 0;
}
.footer .social-media a{
  color: #ffffff;
  border: 1px solid;
  padding: 17px;
  transition: 0.3s;
  font-size: 40px;
}
.footer .social-media a:hover{
  background-color:#ffffffb0;
  color: #00a7f6;
}
.footer .social-media a:hover i{
transform: rotate(15deg);
}
}
@media (max-width:450px) {
  .footer .container{
    font-size: 20px;
  }
  .footer .contact{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    text-align: center;
  }
  .footer .social-media a {
    padding: 10px;
    font-size: 30px;
}
.footer .sub-title {
  padding-bottom: 12px;
  padding-top: 15px;
  font-size: 33px;
}
}
/* End Footer */